.title-head {
	font-family: 'Abel';
	font-size:30px;
	margin:10px;
}

.body {
	margin: 50px;
	/*font-family:"FRANKLIN GOTHIC", "times new roman", times, serif;*/
	font-family:"verdana";
	/*font-family:"garamond"*/
	font-size:20px;
}

.line {
	border-bottom: dashed 1px;
	width: 800px;
}